<div class="Wrapper">
    <div class="TitleDivider"></div>
    <h1 style="margin-bottom: 0px">Session Nodes</h1>
    <h4 class="Subtitle">
        <span class="sn-count">{{render_state.num_sn_awaiting_contrib}}</span>
        {% if (render_state.staking_portal_url | length) == 0 %}
        session nodes awaiting contributions,
        {% else %}
        <a href="{{ render_state.staking_portal_url }}/stake">session nodes awaiting contributions</a>,
        {% endif %}
        <span class="sn-count">{{inactive_sns | count}}</span> decommissioned session nodes,
        and <span class="sn-count">{{active_sns | count}}</span> active session nodes.
    </h4>

    <h2 style="margin-bottom: 0px" id="service-nodes-inactive">Inactive/Decommissioned Session Nodes <span class="sn-count">({{inactive_sns | count}})</span></h2>
    <h4 class="Subtitle">These session nodes are currently decommissioned for failing network obligations, <span style="font-weight: bold; text-decoration: underline">are not earning rewards</span>, and face deregistration soon</h4>
    <div class="TitleDivider sn-inactive"></div>
    {%include 'include/sn_inactive.html'%}


    <h2 style="margin-bottom: 0px">Active Session Nodes <span class="sn-count">({{active_sns | count}})</span></h2>
    <h4 class="Subtitle">Current storage swarm count:
        <span class="sn-count"{%if active_swarms > 0%} title="= {{"%.2f"|format(active_sns | count / active_swarms)}} SNs per swarm"{%endif%}>{{active_swarms}}</span>
    </h4>
    <div class="TitleDivider sn-active"></div>
    {%include 'include/sn_active.html'%}
</div>

{%if limit_active%}
<div class="Wrapper">
    <p> <a class="" href="/service_nodes">Click here to see the full session node list (at most {{limit_active}} are shown here)</a> </p>
</div>
{%endif%}

