{# Basic content template: provides an overridable header/content/footer #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}
      <title>
          {% block title %}
              Session
              {% if info and info.testnet %} Testnet
              {% elif info and info.devnet %} Devnet
              {% elif info and info.stagenet %} Stagenet
              {% endif %}
              Observer
          {% endblock %}
      </title>
    {% if refresh %}
        <meta http-equiv="refresh" content="{{refresh}}">
    {% endif %}
  {% endblock %}
  <link rel="icon" type="image/png" href="/favicon16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon96.png" sizes="96x96">
</head>

<body>
<div id="header" class="Wrapper">
    {% block header %}
    <div id="header-content">
        <h1 class="Header">
            <a href="/">Session
                {%if info and info.testnet%}
                    <span style="color:#ff6b62">Testnet</span>
                {%elif info and info.devnet%}
                    <span style="color:#af5bd2">Devnet</span>
                {%elif info and info.stagenet%}
                    <span style="color:#32cd32">Stagenet</span>
                {%endif%}
                Observer
            </a>
        </h1>
        <form action="/search" method="get" class="top-search">
            <input type="text" name="value" size="64" placeholder="Block height, Block hash, Transaction ID, Session Node pubkey or SNS" aria-label="Search for a block, transaction, or session node" />
            <button type="submit" class="PageButton">Search</button>
        </form>
    </div>
    <div class="TitleUnderliner" style="margin-bottom: 1em"></div>
    {% endblock %}
</div>

{% block content %}
{% endblock %}

<div id="footer" class="Wrapper">
    {% block footer %}
    <div class="TitleDivider" style="margin-top: 1em" ></div>
    <p style="margin-top:10px">
        <a href="https://github.com/session-foundation/session-observer">Source Code</a>
        | Observer Revision: {{server.revision}}
        | Core Version: {{info.version}}
    </p>
    {% endblock %}
</div>

</body>
</html>
