{% extends "_basic.html" %}
{% import "components/tooltip.html" as components %}
{% block content %}
    <div class="Wrapper">

        <div class="info_list nowrap-spans">
            <span><label>Server Time:</label> {{ server.datetime | format_datetime }}</span>
            <span><a href="/txpool">Session Appchain Transaction Pool</a></span>
            {% if config.pusher %}
                <span><a href="/rawtx">Transaction pusher </a></span>
            {% endif %}
            {% if config.key_image_checker %}
                <span><a href="/rawkeyimgs">Key images checker</a></span>
            {% endif %}
            {% if config.output_key_checker %}
                <span><a href="/rawoutputkeys">Output keys checker</a></span>
            {% endif %}
            {% if config.autorefresh_option %}
                <span>
                    {% if refresh %}
                        <a href="/">Autorefresh is ON ({{refresh}} s)</a>
                    {% else %}
                        <a href="/autorefresh/10">Autorefresh is OFF</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>

        <div class="TitleDivider"></div>

        {% if info %}
            <h3 class="general_info info_list nowrap-spans">
                <span><label>Height:</label> {{info.height}}</span>
                <span><label>L2 Height:</label> {% if 'l2_height' in info_sd%}{{info_sd.l2_height}}{%else%}N/A{%endif%}</span>
                <span><label>Hard fork:</label> v{{hf.version}}{%if 'revision' in hf%}.{{hf.revision}}{%endif%}</span>
                {% if hf.version >= 16 %}
                    <span title="{{ info.pulse_target_timestamp | from_timestamp | format_datetime }}
                                 {%-if info.pulse_target_timestamp != info.pulse_ideal_timestamp %}
{{ (info.pulse_target_timestamp - info.pulse_ideal_timestamp) | reltime(two_part=true, in_ago=false) }}
                                 {%-if info.pulse_target_timestamp > info.pulse_ideal_timestamp %} behind {%else%} ahead of {%endif%} schedule
                                 {%-endif-%}
                                 ">
                        <label>Next Pulse:</label> {{(info.pulse_target_timestamp|from_timestamp - server.datetime) | reltime(neg_is_now=true) }}
                    </span>
                {% else %}
                    <span><label>Network difficulty:</label> {{info.difficulty}}</span>
                    <span><label>Hash rate:</label> ~{{(info.difficulty / info.target) | si }}H/s</span>
                {% endif %}
                <span><label>Staking requirement:</label> {{stake.staking_requirement | cash(tag_name='SENT', decimals=2, formatted=True)}}</span>
                <span title="{{(info.block_size_limit / 2) | si}}B soft limit, {{info.block_size_limit | si}}B hard limit. Blocks may include TXes up to the soft limit without penalty and incur increasing reward penalties as they approach the hard limit.">
                    <label>Block size limit:</label>
                    {{(info.block_size_limit / 2) | si}}B/{{info.block_size_limit | si}}B
                </span>
                <span><label>Blockchain size:</label> {{info.database_size | si}}B</span>
            </h3>
        {% endif %}

        <h4 class="info_list nowrap-spans">
            <span><label>Reward Rate Pool balance</label>{{ components.tooltip("Arbitrum data is currently sourced from the Session Testnet.") }}:
                {% if not arbitrum_info or 'balance_reward_rate_pool' not in arbitrum_info %}
                    (loading...)
                {% else %}
                    {{arbitrum_info.balance_reward_rate_pool | cash(tag_name='SENT', decimals=2, formatted=True)}}
                {%endif%}
            </span>
            <span><label>Session Node Rewards balance</label>{{ components.tooltip("Arbitrum data is currently sourced from the Session Testnet.") }}:
                {% if not arbitrum_info or 'balance_service_node_rewards' not in arbitrum_info %}
                    (loading...)
                {% else %}
                    {{arbitrum_info.balance_service_node_rewards | cash(tag_name='SENT', decimals=2, formatted=True)}}
                {%endif%}
            </span>
        </h4>

        <div class="TitleDivider"></div>
        <h4 class="tx-type-legend info_list nowrap-spans" style="margin-top: 0">
            <label>Session Arbitrum TX Type Legend:</label>
            <span>🏁 Session Node Registration</span>
            <span>🚫 Deregistration</span>
            <span>🔑 Exit Request</span>
            <span>🔓 Exit</span>
            <span>🧹 Liquidation</span>
            <span>🎁 Claim Rewards</span>
            <span>📜 Multicontributor Contract Deploy</span>
        </h4>
    </div>

    <div class="Wrapper">
        <h2>Arbitrum Events
            {% if event_page == 0 %}
                (Last {{arbitrum_events|length}} Events)
            {% else %}
               (Events {{per_event_page * event_page}}–{{(per_event_page * event_page)+ (arbitrum_events|length)}})
            {% endif %}
            {{ components.tooltip("Arbitrum events are currently sourced from the Session Testnet.") }}
        </h2>
        <h4 class="general_info info_list nowrap-spans Subtitle">
            <span><label>L2 Height:</label> {% if 'l2_height' in info_sd%}{{info_sd.l2_height}}{%else%}N/A{%endif%}</span>
            <span><label>Total Events:</label> {{ arbitrum_events_pagination.total }}</span>
        </h4>
        <h4 class="Subtitle">
        </h4>
        <div class="TitleUnderliner"></div>

        {% include 'include/arb_event_page_controls.html' %}

        <table class="Table">
            <thead>
            <tr>
                <td>L2 Height</td>
                <td>Age [h:m:s]</td>
                <td>Type</td>
                <td>Transaction Hash</td>
                <td>Contract</td>
            </tr>
            </thead>
            <tbody>
            {% import 'include/arb_event_symbol.html' as event_symbol %}
            {% for e in arbitrum_events %}
                <tr class="block">
                    <td><a href="{{e.block | explorer_link_block}}">{{e.block}}</a></td>
                    <td aria-label="{{e.block | arbitrum_time_estimate(current_block=info_sd.l2_height, current_block_time=info_sd.timestamp) | from_timestamp | format_datetime}}"><div class="tooltip">{{e.block | arbitrum_time_estimate(current_block=info_sd.l2_height, current_block_time=info_sd.timestamp) | from_timestamp | ago}}<span class="tooltip-text">{{e.block | arbitrum_time_estimate(current_block=info_sd.l2_height, current_block_time=info_sd.timestamp) | from_timestamp | format_datetime}}</span></div></td>
                    <td aria-label="{{ e.name }}">{{event_symbol.display_event(e)}}</td>
                    <td><a href="{{e.tx| explorer_link_tx}}">{{e.tx}}</a></td>
                    <td>
                        {% if e.name == 'NewServiceNodeV2' or e.name == 'ServiceNodeExitRequest' or e.name == 'ServiceNodeExit' or e.name == 'ServiceNodeLiquidated' or e.name == 'RewardsClaimed' -%}
                            <a href="{{arbitrum_addresses['ServiceNodeRewards'] | explorer_link_address}}">Session Node Rewards</a>
                        {% elif e.name == 'NewServiceNodeContributionContract' -%}
                            <a href="{{arbitrum_addresses['ServiceNodeContributionFactory'] | explorer_link_address}}">Session Node Contribution Factory</a>
                        {% endif -%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'include/arb_event_page_controls.html' %}
    </div>

    <div class="Wrapper" id="appchain-tx">
        <div class="TitleDivider"></div>
        <h4 class="tx-type-legend info_list nowrap-spans" style="margin-top: 0">
            <label>Session Appchain TX Type Legend:</label>
            <span>🏁 Session Node Registration</span>
            <span>👍 Recommission</span>
            <span>👎 Decommission</span>
            <span>🚫 Deregistration</span>
            <span>🔓 Stake unlock</span>
            <span>🎁 Block Reward</span>
            <span>📋 IP Change Penalty</span>
            <span>🎫 Session Name Service Purchase</span>
            <span>💾 SNS Update</span>
        </h4>
    </div>

    {% include 'include/mempool.html' %}

    <div class="Wrapper">
        <h2>Session Appchain Transactions in
            {% if page == 0 %}
                the Last {{blocks|length}} Blocks
            {% else %}
                Blocks {{blocks[0].height}}–{{blocks[-1].height}}
            {% endif %}
            <a class="linked-icon tooltip tooltip-icon" href="/range/{{blocks[0].height}}/{{blocks[-1].height}}" aria-label="Permanent link to this block range">🔗<span class="tooltip-text">Permanent link to this block range</span></a>
        </h2>

        {% set block_weights = blocks | map(attribute='block_weight') | sort %}
        {%if block_weights|count > 0%}
          <h4 class="Subtitle">(Min. / Median / Average / Max. weights of these blocks:
            {{block_weights[0] | si}}B /
            {{(block_weights[(block_weights|count-1)//2]/2 + block_weights[(block_weights|count)//2]/2) | si}}B /
            {{(block_weights|sum / block_weights|count) | si}}B /
            {{block_weights[-1] | si}}B)
          </h4>
        {%endif%}
        <div class="TitleUnderliner"></div>

        {% include 'include/block_page_controls.html' %}

        <table class="Table">
          <thead>
            <tr>
                <td>Height</td>
                <td>Age [h:m:s]</td>
                <td>Size</td>
                <td>Type</td>
                <td>Transaction Hash</td>
                <td>Fee</td>
{#                <td title="Batched reward payments">Rewards</td>#}
                <td>In/Out</td>
                <td>TX Size</td>
            </tr>
          </thead>
          <tbody>
            {% import 'include/tx_type_symbol.html' as symbol %}
            {% import 'include/tx_fee.html' as fee %}
            {% for b in blocks | reverse %}
              {% set tx_i = 0 %}
              {% if b.txs | length > 0 and b.txs[0].coinbase %}
                {% set tx_i = 1 %}
                <tr class="block">
                  <td><a href="/block/{{b.height}}">{{b.height}}</a></td>
                  <td title="{{b.timestamp | from_timestamp | format_datetime}}">{{b.timestamp | from_timestamp | ago}}</td>
                  <td>{{b.block_size | si}}</td>
                  <td>{{symbol.display(b.txs[0])}}</td>
                  <td><a href="/tx/{{b.txs[0].tx_hash}}">{{b.txs[0].tx_hash}}</a></td>
                  <td>{{fee.display(b.txs[0])}}</td>
{#                  <td>{{b.coinbase_payouts | cash(tag=False, fixed=True, decimals=2)}}</td>#}
                  <td>0/{{b.txs[0].vout | length}}</td>
                  <td>{{b.txs[0].size | si}}</td>
                </tr>
              {% else %}
                {# no miner tx, e.g. from batching #}
                <tr class="block">
                  <td><a href="/block/{{b.height}}">{{b.height}}</a></td>
                  <td title="{{b.timestamp | from_timestamp | format_datetime}}">{{b.timestamp | from_timestamp | ago}}</td>
                  <td>{{b.block_size | si}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
{#                  <td></td>#}
                  <td></td>
                  <td></td>
                </tr>
              {%endif%}
              {% for tx in b.txs[tx_i:] %}
                <tr class="tx">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{symbol.display(tx)}}</td>
                  <td><a href="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                  <td>{{fee.display(tx)}}</td>
{#                  <td></td>#}
                  <td>{{tx.vin | length}}/{{tx.vout | length}}</td>
                  <td>{{tx.size | si}}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>

        {% include 'include/block_page_controls.html' %}
    </div>

    {%set limit_awaiting = 10%}
    {%set limit_inactive = 10%}
    {%set limit_active = 10%}

    {%include 'include/service_nodes_lists.html'%}

    {%if checkpoints and checkpoints.checkpoints|length > 0%}
      {%include 'include/checkpoints.html'%}
    {%endif%}

    <div class="Wrapper">
      <h2> <a href="/quorums">View recent stored testing/checkpoint/blink/pulse quorums</a> </h2>
    </div>

{% endblock %}
