{% macro tooltip(text) %}
    <div class="tooltip tooltip-icon">
        <div style="width: 1em; height: 1em; vertical-align: middle; align-self: center; stroke: var(--session-text); fill: var(--session-text)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
        </div>
        <span class="tooltip-text">{{ text }}</span>
    </div>
{% endmacro %}
